html, body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(154, 47, 187); /*primeiro estilo que precisa colocar para saber onde ta mexendo */
    padding: 15px; /*inchar a tavela pelo lado de dentro*/
    color: #fff; /*para mudar a cor da letra de dentro*/
    text-align: center; /*para deixar  a letra no centro*/

}
header h1 {
    margin-top: 0;
}
.btn{
    text-decoration: none;
    color:#fff;
    background-color: #e2a5eb;   /*para dar a cor de fundo*/
    padding: 5px 20px;    /*para encher o botãp*/
    border-radius: 50px ;   /*para arredondar o botão*/
    text-transform: uppercase;  /*para o botão ficar com letra maiuscula grande */

}
.btn:hover{  /*atribuir apenas o que eu quero que apareça quando eu passar o mousse por cima dele*/
    background-color: black;

}



.container {
    padding: 16px ; /*inchar a lateral*/
    background-color: #f4f4f4;
}
/*estilizar cada uma das seções*/
section{
    background-color: #fff;
    padding: 5px 16px 16px 16px ;
    border-radius: 5px;
    margin: 16px 0;   /*para das esoaçamento para fora*/
    box-shadow: 0 2px 4px #ac81d4  ;  /*para dar o efeito de sombra*/ 
                                    


}
/*quero um estilo diferente na ultima*/
.last{

}

h2{
    border-bottom: 2px solid #8005f3;  /*para botar uma linha embaixo dos titulos*/
    padding-bottom: 8px;
}
footer{  /*mudar o rodape*/
    background-color: #e2a5eb;
    padding: 5px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 80px;

  
    

}