body{
    font-family: 'Courier New', Courier, monospace;    /*para alterara letra, fonte*/
   
}
.container{
    text-align: center; /*para deixar o texto no centro da tela */
}
.container a{ /*para refernciar la da outra pagina, se fosse id era # */
    background-color: rgb(109, 109, 141); /*muda a tabela*/
    color: aliceblue; /*muda a cor da letra*/
    text-decoration: none;            /*tira a linha de baixo*/   
    padding: 10px 20px;  /*o tamnho da caixa*/
    border-radius: 50px;  /*para alterar a borda desse botão, com o tamnho que eu quero que ele arredonde*/

}     

.container a:hover { /*toda tag a que tiver dentro do container  a função hover (passa o mouse por cima para ver a cor)*/
    background-color: blue;

}
